* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d9d9d9;;
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

header {
    background-image: url('../imagens/fundo-header.jpg');
    background-size: 100%;
    color: rgb(0, 0, 0);
    height: 150px;
    position: static;
    margin-bottom: 50px;
}

img[alt="logo"] {
    position: absolute;
    top: 10px;
    left: 0px;
}

input[type="search"] {
    height: 30px;
    width: 320px;
    position: absolute;
    top: 50px;
    left: 230px;
    border-radius: 10px;
    text-align: center;
}

input[type="submit"] {
    height: 30px;
    width: 70px;
    position: absolute;
    top: 50px;
    right: 310px;
    font-weight: bolder;
    border-radius: 10px 10px 10px 10px;
}

li {
    display: inline;
}

li a, #login-cadastrar a {
    color: white; 
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 20px;
    text-shadow: 1px 0.4px black;
}

header ul {
    width: 600px;
    margin: 0 auto;
}

#login-cadastrar {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav {
    position: absolute;
    top: 112px;
    left: 150px;
}

#camisas-masculinas {
    float: left;
}

#camisas-femininas {
    float: right;
}

#camisas-masculinas, #camisas-femininas {
    width: 450px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin-bottom: 100px;
}

footer {
    clear: both;
    text-align: center;
    height: 80px;
    padding-top: 20px;
    background-color: #5f5f5f;;
}

figure {
    display: inline-block;
    padding: 20px;
    text-align: center;
}

h2 {
    padding: 10px;
}

section {
    text-align: center;
}
